/* Fonts */
@theme {
  --font-body:
    Inter,
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --font-nav: Inter;
  --font-footer: Inter;
  --font-headline: Inter;
  --font-headline-name: "Merienda", system-ui;
}

/* Book */
/* @font-face {
  font-family: Decathlon;
  font-style: normal;
  font-weight: 100 500;
  src:
    url('../fonts/DECATHLON-Digital-Book.ttf'),
    url('../fonts/DECATHLON-Digital-Book.eot'),
    url('../fonts/DECATHLON-Digital-Book.svg'),
    url('../fonts/DECATHLON-Digital-Book.woff');
}
@font-face {
  font-family: Decathlon;
  font-style: italic;
  font-weight: 100 500;
  src:
    url('../fonts/DECATHLON-Digital-Book-Italic.ttf'),
    url('../fonts/DECATHLON-Digital-Book-Italic.eot'),
    url('../fonts/DECATHLON-Digital-Book-Italic.svg'),
    url('../fonts/DECATHLON-Digital-Book-Italic.woff');
} */

/* Bold */
/* @font-face {
  font-family: Decathlon;
  font-style: normal;
  font-weight: 600 900;
  src:
    url('../fonts/DECATHLON-Digital-Bold.ttf'),
    url('../fonts/DECATHLON-Digital-Bold.eot'),
    url('../fonts/DECATHLON-Digital-Bold.svg'),
    url('../fonts/DECATHLON-Digital-Bold.woff');
}
@font-face {
  font-family: Decathlon;
  font-style: italic;
  font-weight: 600 900;
  src:
    url('../fonts/DECATHLON-Digital-Bold-Italic.ttf'),
    url('../fonts/DECATHLON-Digital-Bold-Italic.eot'),
    url('../fonts/DECATHLON-Digital-Bold-Italic.svg'),
    url('../fonts/DECATHLON-Digital-Bold-Italic.woff');
} */
