/* Fonts */
@theme {
  --font-body: "DM Sans", Inter, system-ui, sans-serif;
  --font-nav: Inter;
  --font-footer: Inter;
  --font-headline: Inter;
  --font-headline-name: "Merienda", Inter, system-ui;
}
