/* Fonts */
@theme {
  --font-inter-sans: Inter, system-ui, sans-serif;
  --font-merienda: "Merienda", Inter, system-ui;
  --font-dm-sans: "DM Sans", Inter, system-ui, sans-serif;
  --font-body: var(--font-dm-sans);
  --font-nav: var(--font-inter-sans);
  --font-footer: var(--font-inter-sans);
  --font-headline: var(--font-inter-sans);
  --font-headline-name: var(--font-merienda);
  --font-resume-body: var(--font-inter-sans);
}
