@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, dark;
}

@theme {
  --breakpoint-2xl: 141rem;

  --container-8xl: 88rem;
  --container-wide: 144rem;

  --animate-rubber-band: rubberBand 300ms ease-in-out;
  --animate-text-glow: textGlow 1.5s alternate infinite ease-in-out;

  @keyframes rubberBand {
    0% { transform: scale3d(1, 1, 1); }
    30% { transform: scale3d(1.25, 0.75, 1); }
    40% { transform: scale3d(0.75, 1.25, 1); }
    50% { transform: scale3d(1.15, 0.85, 1); }
    65% { transform: scale3d(0.95, 1.05, 1); }
    75% { transform: scale3d(1.05, 0.95, 1); }
    100% { transform: scale3d(1, 1, 1); }
  }

  @keyframes textGlow {
    0% { filter: drop-shadow(0px 1px 6px var(--color-primary)); }
    100% { filter: drop-shadow(0px 0px 4px var(--color-success)); }
  }
}

@plugin "daisyui/theme" {
  name: "light";
  default: false; /* set as default */
  prefersdark: false;
  color-scheme: "light"; /* color of browser-provided UI */
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(0.945 0.0216 130.02);
  --color-base-300: oklch(0.7513 0.0258 119.65);
  --color-base-content: oklch(0.2005 0.0042 84.59);
  --color-primary: oklch(0.7099 0.1912 150.52);
  --color-primary-content: oklch(0.2005 0.0042 84.59);
  --color-secondary: oklch(0.8795 0.0293 57.33);
  --color-secondary-content: oklch(0.2005 0.0042 84.59);
  --color-accent: oklch(0.2893 0.0385 55.56);
  --color-accent-content: oklch(0.9463 0.0237 133.46);
  --color-neutral: oklch(0.2005 0.0042 84.59);
  --color-neutral-content: oklch(0.9432 0.0237 133.46);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(0.1961 0.0042 84.59);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(0.9432 0.0237 133.46);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.222 41.116);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;  /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: "dark"; /* color of browser-provided UI */
  --color-base-100: oklch(0.3506 0.0101 139.44);
  --color-base-200: oklch(0.3674 0.0167 166.25);
  --color-base-300: oklch(0.5677 0.0272 127.87);
  --color-base-content: oklch(0.9463 0.0237 133.46);
  --color-primary: oklch(0.7099 0.1912 150.52);
  --color-primary-content: oklch(0.3674 0.0167 166.25);
  --color-secondary: oklch(0.2893 0.0385 55.56);
  --color-secondary-content: oklch(0.9463 0.0237 133.46);
  --color-accent: oklch(0.9493 0.0589 92.48);
  --color-accent-content: oklch(0.3674 0.0167 166.25);
  --color-neutral: oklch(0.9463 0.0237 133.46);
  --color-neutral-content: oklch(0.3674 0.0167 166.25);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(0.3674 0.0167 166.25);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(0.3674 0.0167 166.25);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(0.3674 0.0167 166.25);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(0.9463 0.0237 133.46);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@source "../../../content/**/*";
@source inline("badge, badge-info"); /* FIXME: workaround for daisyui/tw classes not being detected in md files */

@import './variables.css';
@import './fonts.css';
@import './print.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  body {
    transition: background-color .3s;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #__hnze-app-nuxt {
    margin: 0 auto;
    font-weight: normal;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(.5rem)
    }

    to {
      opacity: 1;
      transform: none
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translateY(.5rem)
    }
  }


  .page-enter-active {
    animation: fadeInUp .6s forwards
  }

  .page-leave-active {
    animation: fadeOutDown .6s backwards;
  }

  .h-layout-default {
    .prose *:not(h1, h2, h3, h4, h5, h6) > :is(a:not(.-no-glow), .link) {
      border-style: solid;
      border-bottom-width: 1px;
      border-image: radial-gradient(
        color-mix(in oklch, var(--color-base-100) 40%, transparent),
        color-mix(in oklch, var(--color-primary) 40%, transparent)
      ) 15;

      &:hover {
        transform: skewX(-5deg);
      }
    }

    /* @media screen(md) { */
      a:not(.-no-glow), .link:not(.-no-glow) {
        @apply relative pb-[2px];

        &:before, &:after {
          position: absolute;
          height: 3px;
          bottom: 1px;
          content: ' ';
          display: block;
          width: 12px;
          opacity: 0;
          transition: 0.4s;
          z-index: -1;
        }
        &:before {
          background-image: linear-gradient(90deg, var(--color-base-300), var(--color-primary));
          left: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }

        &:after {
          background-image: linear-gradient(270deg, var(--color-base-300), var(--color-primary));
          right: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        &:hover, &.active {
          @apply animate-text-glow translate-y-[-1px] after:opacity-100 after:w-1/2 before:opacity-100 before:w-1/2;
        }

        &.router-link-active {
          background: linear-gradient(45deg, var(--color-base-300), var(--color-primary));
          -webkit-background-clip: text;
          &:after, &:before {
            opacity: 0;
          }
        }
      }
    /* } */
    a:not(.-no-glow), .link:not(.-no-glow) {
      &.router-link-active {
        font-weight: 700;
      }
    }
  }
}
