@layer base {
  :root {
    /* Base colors */
    --hzc-foreground: hsl(var(--hzcv-foreground));
    --hzc-foreground-50: hsl(var(--hzcv-foreground-50));
    --hzc-foreground-100: hsl(var(--hzcv-foreground-100));
    --hzc-foreground-200: hsl(var(--hzcv-foreground-200));
    --hzc-foreground-300: hsl(var(--hzcv-foreground-300));
    --hzc-foreground-400: hsl(var(--hzcv-foreground-400));
    --hzc-foreground-500: hsl(var(--hzcv-foreground-500));
    --hzc-foreground-600: hsl(var(--hzcv-foreground-600));
    --hzc-foreground-700: hsl(var(--hzcv-foreground-700));
    --hzc-foreground-800: hsl(var(--hzcv-foreground-800));
    --hzc-foreground-900: hsl(var(--hzcv-foreground-900));
    --hzc-foreground-950: hsl(var(--hzcv-foreground-950));

    --hzc-background: hsl(var(--hzcv-background));
    --hzc-background-50: hsl(var(--hzcv-background-50));
    --hzc-background-100: hsl(var(--hzcv-background-100));
    --hzc-background-200: hsl(var(--hzcv-background-200));
    --hzc-background-300: hsl(var(--hzcv-background-300));
    --hzc-background-400: hsl(var(--hzcv-background-400));
    --hzc-background-500: hsl(var(--hzcv-background-500));
    --hzc-background-600: hsl(var(--hzcv-background-600));
    --hzc-background-700: hsl(var(--hzcv-background-700));
    --hzc-background-800: hsl(var(--hzcv-background-800));
    --hzc-background-900: hsl(var(--hzcv-background-900));
    --hzc-background-950: hsl(var(--hzcv-background-950));

    --hzc-primary: hsl(var(--hzcv-primary));
    --hzc-primary-foreground: hsl(var(--hzcv-primary-foreground));
    --hzc-primary-50: hsl(var(--hzcv-primary-50));
    --hzc-primary-100: hsl(var(--hzcv-primary-100));
    --hzc-primary-200: hsl(var(--hzcv-primary-200));
    --hzc-primary-300: hsl(var(--hzcv-primary-300));
    --hzc-primary-400: hsl(var(--hzcv-primary-400));
    --hzc-primary-500: hsl(var(--hzcv-primary-500));
    --hzc-primary-600: hsl(var(--hzcv-primary-600));
    --hzc-primary-700: hsl(var(--hzcv-primary-700));
    --hzc-primary-800: hsl(var(--hzcv-primary-800));
    --hzc-primary-900: hsl(var(--hzcv-primary-900));
    --hzc-primary-950: hsl(var(--hzcv-primary-950));

    --hzc-secondary: hsl(var(--hzcv-secondary));
    --hzc-secondary-foreground: hsl(var(--hzcv-secondary-foreground));
    --hzc-secondary-50: hsl(var(--hzcv-secondary-50));
    --hzc-secondary-100: hsl(var(--hzcv-secondary-100));
    --hzc-secondary-200: hsl(var(--hzcv-secondary-200));
    --hzc-secondary-300: hsl(var(--hzcv-secondary-300));
    --hzc-secondary-400: hsl(var(--hzcv-secondary-400));
    --hzc-secondary-500: hsl(var(--hzcv-secondary-500));
    --hzc-secondary-600: hsl(var(--hzcv-secondary-600));
    --hzc-secondary-700: hsl(var(--hzcv-secondary-700));
    --hzc-secondary-800: hsl(var(--hzcv-secondary-800));
    --hzc-secondary-900: hsl(var(--hzcv-secondary-900));
    --hzc-secondary-950: hsl(var(--hzcv-secondary-950));

    --hzc-accent: hsl(var(--hzcv-accent));
    --hzc-accent-foreground: hsl(var(--hzcv-accent-foreground));
    --hzc-accent-50: hsl(var(--hzcv-accent-50));
    --hzc-accent-100: hsl(var(--hzcv-accent-100));
    --hzc-accent-200: hsl(var(--hzcv-accent-200));
    --hzc-accent-300: hsl(var(--hzcv-accent-300));
    --hzc-accent-400: hsl(var(--hzcv-accent-400));
    --hzc-accent-500: hsl(var(--hzcv-accent-500));
    --hzc-accent-600: hsl(var(--hzcv-accent-600));
    --hzc-accent-700: hsl(var(--hzcv-accent-700));
    --hzc-accent-800: hsl(var(--hzcv-accent-800));
    --hzc-accent-900: hsl(var(--hzcv-accent-900));
    --hzc-accent-950: hsl(var(--hzcv-accent-950));

    /* Gradiant & Radial colors */
    --hzc-linear-primary-secondary: linear-gradient(var(--hzc-primary), var(--hzc-secondary));
    --hzc-linear-primary-accent: linear-gradient(var(--hzc-primary), var(--hzc-accent));
    --hzc-linear-secondary-accent: linear-gradient(var(--hzc-secondary), var(--hzc-accent));
    --hzc-radial-primary-secondary: radial-gradient(var(--hzc-primary), var(--hzc-secondary));
    --hzc-radial-primary-accent: radial-gradient(var(--hzc-primary), var(--hzc-accent));
    --hzc-radial-secondary-accent: radial-gradient(var(--hzc-secondary), var(--hzc-accent));

    /* State colors */
    /* --hzc-destructive; */
    /* --hzc-destructive-foreground; */
    /* --hzc-muted; */
    /* --hzc-muted-foreground; */

    /* Element colors */
    /* --hzc-card; */
    /* --hzc-card-foreground; */
    /* --hzc-popover; */
    /* --hzc-popover-foreground; */

    /* Element parts colors */
    /* --hzc-border; */
    /* --hzc-ring; */
  }
  .dark {
    /* Base colors */
    --hzc-foreground: hsl(var(--hzcv-foreground));
    --hzc-foreground-50: hsl(var(--hzcv-foreground-50));
    --hzc-foreground-100: hsl(var(--hzcv-foreground-100));
    --hzc-foreground-200: hsl(var(--hzcv-foreground-200));
    --hzc-foreground-300: hsl(var(--hzcv-foreground-300));
    --hzc-foreground-400: hsl(var(--hzcv-foreground-400));
    --hzc-foreground-500: hsl(var(--hzcv-foreground-500));
    --hzc-foreground-600: hsl(var(--hzcv-foreground-600));
    --hzc-foreground-700: hsl(var(--hzcv-foreground-700));
    --hzc-foreground-800: hsl(var(--hzcv-foreground-800));
    --hzc-foreground-900: hsl(var(--hzcv-foreground-900));
    --hzc-foreground-950: hsl(var(--hzcv-foreground-950));

    --hzc-background: hsl(var(--hzcv-background));
    --hzc-background-50: hsl(var(--hzcv-background-50));
    --hzc-background-100: hsl(var(--hzcv-background-100));
    --hzc-background-200: hsl(var(--hzcv-background-200));
    --hzc-background-300: hsl(var(--hzcv-background-300));
    --hzc-background-400: hsl(var(--hzcv-background-400));
    --hzc-background-500: hsl(var(--hzcv-background-500));
    --hzc-background-600: hsl(var(--hzcv-background-600));
    --hzc-background-700: hsl(var(--hzcv-background-700));
    --hzc-background-800: hsl(var(--hzcv-background-800));
    --hzc-background-900: hsl(var(--hzcv-background-900));
    --hzc-background-950: hsl(var(--hzcv-background-950));

    --hzc-primary: hsl(var(--hzcv-primary));
    --hzc-primary-foreground: hsl(var(--hzcv-background-900));
    --hzc-primary-50: hsl(var(--hzcv-primary-50));
    --hzc-primary-100: hsl(var(--hzcv-primary-100));
    --hzc-primary-200: hsl(var(--hzcv-primary-200));
    --hzc-primary-300: hsl(var(--hzcv-primary-300));
    --hzc-primary-400: hsl(var(--hzcv-primary-400));
    --hzc-primary-500: hsl(var(--hzcv-primary-500));
    --hzc-primary-600: hsl(var(--hzcv-primary-600));
    --hzc-primary-700: hsl(var(--hzcv-primary-700));
    --hzc-primary-800: hsl(var(--hzcv-primary-800));
    --hzc-primary-900: hsl(var(--hzcv-primary-900));
    --hzc-primary-950: hsl(var(--hzcv-primary-950));

    --hzc-secondary: hsl(var(--hzcv-secondary));
    --hzc-secondary-foreground: hsl(var(--hzcv-secondary-foreground));
    --hzc-secondary-50: hsl(var(--hzcv-secondary-50));
    --hzc-secondary-100: hsl(var(--hzcv-secondary-100));
    --hzc-secondary-200: hsl(var(--hzcv-secondary-200));
    --hzc-secondary-300: hsl(var(--hzcv-secondary-300));
    --hzc-secondary-400: hsl(var(--hzcv-secondary-400));
    --hzc-secondary-500: hsl(var(--hzcv-secondary-500));
    --hzc-secondary-600: hsl(var(--hzcv-secondary-600));
    --hzc-secondary-700: hsl(var(--hzcv-secondary-700));
    --hzc-secondary-800: hsl(var(--hzcv-secondary-800));
    --hzc-secondary-900: hsl(var(--hzcv-secondary-900));
    --hzc-secondary-950: hsl(var(--hzcv-secondary-950));

    --hzc-accent: hsl(var(--hzcv-accent));
    --hzc-accent-foreground: hsl(var(--hzcv-accent-foreground));
    --hzc-accent-50: hsl(var(--hzcv-accent-50));
    --hzc-accent-100: hsl(var(--hzcv-accent-100));
    --hzc-accent-200: hsl(var(--hzcv-accent-200));
    --hzc-accent-300: hsl(var(--hzcv-accent-300));
    --hzc-accent-400: hsl(var(--hzcv-accent-400));
    --hzc-accent-500: hsl(var(--hzcv-accent-500));
    --hzc-accent-600: hsl(var(--hzcv-accent-600));
    --hzc-accent-700: hsl(var(--hzcv-accent-700));
    --hzc-accent-800: hsl(var(--hzcv-accent-800));
    --hzc-accent-900: hsl(var(--hzcv-accent-900));
    --hzc-accent-950: hsl(var(--hzcv-accent-950));

    /* Gradiant & Radial colors */
    --hzc-linear-primary-secondary: linear-gradient(var(--hzc-primary), var(--hzc-secondary));
    --hzc-linear-primary-accent: linear-gradient(var(--hzc-primary), var(--hzc-accent));
    --hzc-linear-secondary-accent: linear-gradient(var(--hzc-secondary), var(--hzc-accent));
    --hzc-radial-primary-secondary: radial-gradient(var(--hzc-primary), var(--hzc-secondary));
    --hzc-radial-primary-accent: radial-gradient(var(--hzc-primary), var(--hzc-accent));
    --hzc-radial-secondary-accent: radial-gradient(var(--hzc-secondary), var(--hzc-accent));

    /* State colors */
    /* --hzc-destructive; */
    /* --hzc-destructive-foreground; */
    /* --hzc-muted; */
    /* --hzc-muted-foreground; */

    /* Element colors */
    /* --hzc-card; */
    /* --hzc-card-foreground; */
    /* --hzc-popover; */
    /* --hzc-popover-foreground; */

    /* Element parts colors */
    /* --hzc-border; */
    /* --hzc-ring; */
  }
}
