@import 'tailwindcss/base';

@import './variables.css';
@import './colors.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    background-color: var(--hzc-background);
    color: var(--hzc-foreground);
    transition: background-color .3s;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #__hnze-app-nuxt {
    margin: 0 auto;
    font-weight: normal;
  }

  .prose *:not(h1, h2, h3, h4, h5, h6) > :is(a:not(.unstyled), .link) {
    border-style: solid;
    border-bottom-width: 1px;
    border-image: radial-gradient(hsl(var(--hzcv-background-700) / 40%), hsl(var(--hzcv-primary-700) / 40%)) 15;

    &:hover {
      transform: skewX(-5deg);
    }
  }

  @media screen(md) {
    a:not(.unstyled), .link:not(.unstyled) {
      @apply relative pb-[2px];

      &:before, &:after {
        position: absolute;
        height: 3px;
        bottom: 1px;
        content: ' ';
        display: block;
        width: 12px;
        opacity: 0;
        transition: 0.4s;
        z-index: -1;
      }
      &:before {
        background-image: linear-gradient(90deg, var(--hzc-background-400), var(--hzc-primary-700));
        left: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:after {
        background-image: linear-gradient(270deg, var(--hzc-background-400), var(--hzc-primary-700));
        right: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &:hover, &.active {
        @apply animate-text-glow translate-y-[-1px] after:opacity-100 after:w-1/2 before:opacity-100 before:w-1/2;
      }

      &.router-link-active {
        font-weight: 700;
        background: linear-gradient(45deg, var(--hzc-background-400), var(--hzc-primary-700));
        -webkit-background-clip: text;
        &:after, &:before {
          opacity: 0;
        }
      }
    }
  }
  a:not(.unstyled), .link:not(.unstyled) {
    &.router-link-active {
      font-weight: 700;
    }
  }
}
